#producto-disponibles .list-producto .producto .image-product img {
  max-width: 100%;
}

.promociones .btn-comprar {
  position: absolute;
  bottom: 15%;
  left: 48%;
}

.promociones .btn-default {
  padding: 6px 20px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #169599;
  border-radius: 0;
  border: none;
}

.content-catalogo .select-item .item label {
  cursor: pointer;
}

#especificaciones-tecnicas .content-detalle .pdf-tecnica a {
  cursor: pointer;
}

#list-equipos #list-equipos-comparar .btn-comparar {
  cursor: pointer;
}

#compara-tus-equipos .info-lista {
  padding-top: 345px;
}

#compara-tus-equipos .lista-equipos .equipo-seleccionado .equipo {
  height: 335px;
  position: relative;
}

#compara-tus-equipos .lista-equipos .equipo-seleccionado .equipo .image-product img {
  height: 190px;
}

#compara-tus-equipos .lista-equipos .equipo-seleccionado .equipo .image-product .image-prepago {
  height: 130px;
}

#compara-tus-equipos .lista-equipos .equipo-seleccionado .equipo .content-product {
  position: absolute;
}

#descripcion-equipo .content-section form .content-product .btn-linea a:hover {
  background-color: #cecece;
  text-decoration: none;
}

#descripcion-equipo .content-section form .content-product .btn-linea a {
  width: 100%;
  padding: 0;
  background-color: #cecece;
  border: none;
  color: #008c95;
  line-height: 18px;
  padding: 10px 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

#descripcion-equipo .content-section form .content-product .btn-comprar-prepago a {
  width: 100%;
  padding: 0;
  background-color: #008c95;
  border: none;
  color: #fff;
  line-height: 50px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

#detalle-carrito .btn-detalle a.comprar {
  color: #fff;
  background-color: #008c95;
  float: right;
}

#detalle-carrito .btn-detalle a {
  border: 1px solid transparent;
  text-transform: uppercase;
  width: 50%;
  border-radius: 0;
  padding: 0;
  line-height: 30px;
  font-size: 12px;
}

#descripcion-equipo .content-section form .content-product .btn-comprar a {
  width: 100%;
  padding: 0;
  background-color: #cecece;
  border: none;
  color: #fff;
  line-height: 50px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

#section-pedido .row .btn-detalle a.regresar {
  width: 46.4%;
  margin-right: 10px;
  background-color: #ffe60d;
  color: #008c95;
  line-height: 16px;
  padding: 5px;
}

#section-pedido .row .btn-detalle a.comprar {
  color: #fff;
  background-color: #008c95;
  float: right;
}

#section-pedido .row .btn-detalle a {
  border: 1px solid transparent;
  text-transform: uppercase;
  width: 50%;
  border-radius: 0;
  padding: 0;
  line-height: 40px;
  font-size: 12px;
  height: 42px;
}

#list-equipos #pagination-nav ul li.active span {
  color: #fff;
  background-color: #008c95;
  border: 1px solid #008c95;
}

#planes .select-plan .plan .content-plan {
  min-height: 290px;
}

input:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 12px;
  width: 4px;
  height: 10px;
  border: solid #008c95;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sidebar-box {
  margin-bottom: 20px;
}

.sidebar-box #search-product {
  margin-bottom: 0;
}

.top-banner {
  height: 200px;
  border: 1px solid #cecece;
  margin-bottom: 20px;
}

.top-banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-page {
  margin-bottom: 20px;
}

.title-select {
  cursor: pointer;
}

.title-select .btl-caret {
  margin-right: 15px;
}

#list-equipos .producto {
  padding: 20px 0 10px;
}

#list-equipos .image-product {
  height: 170px;
}

#list-equipos .image-product img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

[v-cloak] {
  display: none;
}

.content-plan {
  cursor: pointer;
}

#content-page #image-equipo .galeria-min {
  min-height: 85px;
}

.color-product .radio-inline,
.color-product .checkbox-inline {
  position: relative;
  display: inline-block;
  padding: 4px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: auto;
  color: #000000;
  width: 28px;
  height: 28px;
  border-radius: 3px;
}

#descripcion-equipo .content-section form .content-product .color-product fieldset .option-select .radio-inline.option-active:after {
  content: none;
}

.color-product .radio-inline .color-box,
.color-product .checkbox-inline .color-box {
  width: 18px;
  height: 18px;
  border-radius: 0px;
  border-radius: 3px;
  display: inline-block;
  visibility: visible;
}

.stock-exhausted {
  font-weight: 300;
  font-size: 23px;
  font-family: 'multicolore';
  color: #929292;
  line-height: 35px;
}

.content-tab-pro .producto .content-product .price-product {
  font-weight: 300;
  font-size: 30px;
  font-family: 'multicolore';
  color: #008c95;
  margin-bottom: 10px;
}

.content-tab-pro .producto .content-product .price-product span {
  font-size: 23px;
}

.producto .content-product .price-product span.normal-price {
  font-size: 14px !important;
  text-decoration: line-through;
  color: #828282;
  font-family: 'Montserrat', sans-serif;
}

#descripcion-equipo .content-section form .content-product .detalle-product .price-product span.normal-price {
  font-size: 14px !important;
  text-decoration: line-through;
  color: #828282;
  font-family: 'Montserrat', sans-serif;
  margin-left: 5px;
}

section#equipos-promocion .container .row .content-tab-pro .producto,
section#equipos-vendidos .container .row .content-tab-pro .producto {
  padding-top: 22px;
  padding-bottom: 174px;
}

section#equipos-promocion .container .row .content-tab-pro .producto .content-product .price-product,
section#equipos-vendidos .container .row .content-tab-pro .producto .content-product .price-product {
  line-height: 20px;
  margin-bottom: 8px;
}

section#equipos-promocion .container .row .content-tab-pro .producto .content-product .title-product,
section#equipos-vendidos .container .row .content-tab-pro .producto .content-product .title-product {
  margin: 5px 0;
}

section#equipos-promocion .container .row .content-tab-pro .producto .content-product .title-product h4,
section#equipos-vendidos .container .row .content-tab-pro .producto .content-product .title-product h4 {
  margin: 7px 0;
}

#list-equipos .producto {
  padding-top: 15px;
}

#list-equipos .producto .content-product .price-product {
  line-height: 20px;
  margin-bottom: 10px;
}

#list-equipos .producto .content-product .title-product {
  margin: 7px 0;
}

#list-equipos .producto .content-product .title-product h3 {
  margin: 9px 0;
}

#detalle-carrito .main-detalle .row div .equipo-seleccionado .detalle-equipo {
  margin-left: 10px;
}

#detalle-carrito .normal-price {
  font-size: 12px;
  text-decoration: line-through;
  margin-left: 5px;
}

#producto-disponibles .list-producto .producto .content-product .price-product {
  margin-bottom: 5px;
}

#producto-disponibles .list-producto .producto .content-product .title-product {
  margin: 10px 0;
  margin-bottom: 0px;
}

#producto-disponibles .list-producto .producto .content-product .title-product h3 {
  margin-top: 13px;
}

.ribbon-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: 999;
}

.ribbon {
  font-size: 15px;
  color: white;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 2px 0;
  left: -30px;
  top: 25px;
  width: 140px;
  background-color: #cc3333;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon:before,
.ribbon:after {
  content: "";
  border-top: 3px solid #900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}

.ribbon:after {
  right: 0;
}

.ribbon-promo {
  background-color: #cc3333;
}

.ribbon-new {
  background-color: #ffb212;
}

.ribbon-trend {
  background-color: #008c95;
}

#list-equipos .producto {
  position: relative;
}

#list-equipos .producto .ribbon {
  left: -26px;
  top: 26px;
  width: 130px;
}

#section-pedido .row .detalle-pedido .row .solicitud span.normal-price {
  text-decoration: line-through;
  color: #828282;
  font-size: 14px;
}

#page-rastreo #content-rastreo section#detalle-rastreo .content-section .equipo-seleccionado .contenido p span.normal-price {
  text-decoration: line-through;
  color: #828282;
  font-size: 12px;
}

#page-rastreo #content-rastreo section#detalle-rastreo .content-section .equipo-seleccionado .image {
  margin-right: 7px;
}

#planes {
  margin-top: -330px;
}

#detalle-carrito .btn-detalle a.regresar {
  width: 46.4%;
  margin-right: 10px;
  background-color: #ffe60d;
  color: #008c95;
}

#detalle-carrito .btn-detalle a {
  border: 1px solid transparent;
  text-transform: uppercase;
  width: 50%;
  border-radius: 0;
  padding: 0;
  line-height: 30px;
  font-size: 12px;
}

#section-pedido .row .detalle-pedido {
  display: block;
}

