#producto-disponibles .list-producto .producto .image-product img {
  max-width: 100%;
}

.promociones .btn-comprar {
  position: absolute;
  bottom: 15%;
  left: 48%;
}

.promociones .btn-default {
  padding: 6px 20px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #169599;
  border-radius: 0;
  border: none;
}

#especificaciones-tecnicas .content-detalle .pdf-tecnica a {
  cursor: pointer;
}

