// Brands
$bitel-primary: #ffe000;
$bitel-secondary: #008994;
// $brand-info: #8eb4cb;
// $brand-success: #2ab27b;
// $brand-warning: #cbb956;
// $brand-danger: #bf5329;

// text
$bitel-text-muted: #6d6d6d;
