#image-equipo{
    overflow: hidden;
    height: 320px;
    @media screen and (max-width: 992px){
        margin-bottom: 42px;
    }
    .img-loading{
        background: #f1f1f1;
        height: 320px;
        width: 340px;
    }
    .new-slider{
        width: 340px;
        margin: 0 auto;
        @media screen and (max-width: 340px){
            width: 320px;
        }
        ul{
            display: none;
            width: 340px;
            margin: 0;
            padding: 0;
            overflow: hidden;
            @media screen and (max-width: 340px){
                width: 320px;
            }
            li{
                padding: 0;
                margin: 0;
                list-style: none;
            }
            .slick-prev{
                left: 25px;
            }
            .slick-next {
                right: 25px;
            }
            .slick-dots{
                bottom: 20px;
            }
        }
    }
}