
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

//CUSTOM CSS
#producto-disponibles .list-producto .producto .image-product img {
    max-width: 100%;
}

.promociones .btn-comprar {
    position: absolute;
    bottom: 15%;
    left: 48%;
}

.promociones .btn-default {
    padding: 6px 20px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #169599;
    border-radius: 0;
    border: none;
}

.content-catalogo .select-item .item label{
    cursor: pointer;
}

#especificaciones-tecnicas .content-detalle .pdf-tecnica a {
    cursor: pointer;
}

#list-equipos #list-equipos-comparar .btn-comparar {
    cursor: pointer;
}

#compara-tus-equipos .info-lista {
    padding-top: 345px;
}

#compara-tus-equipos .lista-equipos .equipo-seleccionado .equipo {
    height: 335px;
    position: relative;
}

#compara-tus-equipos .lista-equipos .equipo-seleccionado .equipo .image-product img {
    height: 190px;
}

#compara-tus-equipos .lista-equipos .equipo-seleccionado .equipo .image-product .image-prepago {
    height: 130px;
}

#compara-tus-equipos .lista-equipos .equipo-seleccionado .equipo .content-product {
    position: absolute;
}

//provisional
#descripcion-equipo .content-section form .content-product .btn-linea a:hover {
    background-color: #cecece;
    text-decoration: none;
}

#descripcion-equipo .content-section form .content-product .btn-linea a {
    width: 100%;
    padding: 0;
    background-color: #cecece;
    border: none;
    color: #008c95;
    line-height: 18px;
    padding: 10px 0;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s ease all;
}
// #especificaciones-tecnicas .content-detalle .pdf-tecnica button {
//     display: inline-block;
//     float: right;
//     border: 1px solid #008c95;
//     color: #008c95;
//     line-height: 35px;
//     padding: 0 20px;
//     font-weight: 600;
//     background-color: #fff;
// }
//
// #especificaciones-tecnicas .content-detalle .pdf-tecnica button span {
//     margin-left: 10px;
// }
